In [2]:
import numpy as np
import pandas as pd

In [4]:
df_full = pd.read_csv('itcont.txt', sep="|", header=None)

In [ ]:
cmte_id = arr[0]
zipcode = arr[10]
tran_date = arr[13]
tran_amt = int(arr[14])
other_id = arr[15]

In [7]:
cols = [0, 10, 13, 14, 15]
#df.loc[:, df.columns.isin(list('BCD'))]
df = df_full.loc[:, df_full.columns.isin(cols)]
df

          0          10       13   14         15
0  C00629618      90017  1032017   40  H6CA34245
1  C00177436  300047357  1312017  384        NaN
2  C00384818   28956146  1122017  250        NaN
3  C00177436  307502818  1312017  230        NaN
4  C00177436   41051896  1312017  384        NaN
5  C00384818   28956146  1122017  333        NaN
6  C00177436   41051935  1312017  384        NaN

In [8]:
df.columns = ['cmte_id', 'zipcode', 'tran_date', 'tran_amt', 'other_id']
df

     cmte_id    zipcode  tran_date  tran_amt   other_id
0  C00629618      90017    1032017        40  H6CA34245
1  C00177436  300047357    1312017       384        NaN
2  C00384818   28956146    1122017       250        NaN
3  C00177436  307502818    1312017       230        NaN
4  C00177436   41051896    1312017       384        NaN
5  C00384818   28956146    1122017       333        NaN
6  C00177436   41051935    1312017       384        NaN

In [11]:
#adf_sub_severity_time.loc[:,'Hour'] = adf_sub_severity_time.loc[:,'Time'].str[:2]
df.loc[:, 'zip'] = df.loc[:'zipcode'].str[:5]
df

AttributeError: 'DataFrame' object has no attribute 'str'

In [ ]:
df_by_zip =